/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card{
        width: 98%;
        margin-left: 0 !important;
        margin-right: auto !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card{
        width: 350px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card{
        width: 370px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card{
        width: 370px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card{
        width: 370px;
    }
}