@font-face {
    font-family: 'Crazy Cartoon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Crazy Cartoon Regular'), url('../../common/fonts/Crazy Cartoon.woff') format('woff');
}

.f-cartoon {
    font-family: "crazy Cartoon Regular";
    font-style: normal;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fbf1a9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 3rem;
    border-radius: 10px;
    background-color: #fc466b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cd3754;
}