@font-face {
    font-family: 'Crazy Cartoon Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Crazy Cartoon Regular'), url('common/fonts/Crazy Cartoon.woff') format('woff');
}

.f-cartoon{
    font-family: "crazy Cartoon Regular";
    font-style: normal;
    font-weight: bold;
}